body {
  background: white;
  color: black;
  font-size: 24px;
}

main,
.content,
.column-body,
.page-columns {
  width: 100% !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}